<div controller="app.plugins.GenericListen">
  <style>
    .generic-listen-input {
      width: 30px;
    }
  </style>
  <div>Generic Listen</div>
  <input type="text" tag="command" class="generic-listen-input" />
  <input type="text" tag="arg1" class="generic-listen-input" />
  <input type="text" tag="arg2" class="generic-listen-input" />
  <div>
    <span tag="display">0</span>
  </div>
</div>
