<div p-generic-send controller="app.plugins.GenericSend">
  <style>

  </style>
  <div>Generic Send</div>
  <div>
    <input type="text" tag="input-command" style="width: 45px;" />
    <input type="text" tag="input-arg1" style="width: 45px;" />
    <input type="text" tag="input-arg2" style="width: 45px;" />
    <button type="button" tag="button">Send</button>
  </div>
</div>
