<div keyboard controller="app.plugins.Keyboard">
<style>
  .keyboard-toggle-button.on {
    background-color: green;
  }
</style>
Keyboard listener<br />
<button type="button" tag="toggle" class="keyboard-toggle-button">Toggle</button><br />
G is middle C
</div>
