<div recorder controller="app.plugins.Recorder">
  <style>
    .midi-recorder-arm-record.armed {
      background-color: red;
    }
    .midi-recorder-arm-play.armed {
      background-color: green;
    }
  </style>
  <div>Recorder</div>
  <span tag="event-counter">0</span>
  Ch:<select tag="channel">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
  </select>
  <button type="button" tag="arm-record" class="midi-recorder-arm-record">Arm for Record</button>
  <button type="button" tag="arm-play" class="midi-recorder-arm-play">Arm for Playback</button>
  <button type="button" tag="disarm">Disarm</button>
  <button type="button" tag="reset">Reset</button>
</div>
