<div app-main controller="app.AppMain">
  <style>
    [tag="menubar"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
    }

    [io-selector] {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      width: 400px;
    }

    [clock] {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 400px;
      width: 400px;
    }

    [plugboard] {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      bottom: 0;
    }

  </style>
  <div tag="menubar">
    <div component="app/IOSelector.html" tag="io-selector"></div>
    <div component="app/Clock.html" tag="clock"></div>
  </div>
  <div tag="plugboard" component="app/Plugboard.html">
    <div component="app/plugins/Recorder.html"></div>
  </div>
</div>
