<div clock controller="app.Clock">
  <style>
    [tag="container"] {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    [tag="tempo"] {
      width: 60px;
    }
  </style>
  <div tag="container">
    <input type="text" tag="tempo" value="120" /> bpm
    <span tag="display">0</span>
    <button type="button" tag="reset">Reset</button>
    <button type="button" tag="playpause">Run</button>
  </div>
</div>
