<div io-selector controller="app.IOSelector">
  <style>
    [tag="container"] {
      display: absolute;
      top: 0;
      left: 0;
      with: 100%;
      height: 100%;
    }
  </style>
  <div tag="container">
    Input:<select tag="inputs">
      <option value="none">Select...</option>
    </select>
    Output:<select tag="outputs">
      <option value="none">Select...</option>
    </select>
  </div>
</div>
