<div plugboard controller="app.Plugboard">
  <style>
    [tag="titlebar"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      background-color: #eeeeee;
    }
    [tag="plugins-container"] {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      bottom: 0;
    }
    .plugboard-plugin {
      border: 1px solid black;
    }
  </style>
  <div tag="titlebar">
    <span>Plugins</span>
    <select tag="plugin-path">
      <option value="app/plugins/ClockTest.html">ClockTest</option>
      <option value="app/plugins/GenericSend.html">GenericSend</option>
      <option value="app/plugins/PlayCTwoSeconds.html">Play C</option>
      <option value="app/plugins/Recorder.html">Recorder</option>
      <option value="app/plugins/GenericListen.html">Generic Listen</option>
      <option value="app/plugins/AllOff.html">All Off</option>
      <option value="app/plugins/Keyboard.html">Keyboard</option>
      <option value="app/plugins/Transpose.html">Transpose+4</option>
    </select>
    <button type="button" tag="add-plugin">Add</button>
  </div>
  <div tag="plugins-container">
    <embed tag="plugins"></embed>
  </div>

</div>
